<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<inputs>
  <rf2Inputs>
    <inputType>CLASSPATH</inputType>
    <associationRefsetFiles>/snomed_int_full_rf2/Refset/Content/der2_cRefset_AssociationReferenceFull_INT_20120131.txt</associationRefsetFiles>
    <attributeValueRefsetFiles>/snomed_int_full_rf2/Refset/Content/der2_cRefset_AttributeValueFull_INT_20120131.txt</attributeValueRefsetFiles>
    <complexMapRefsetFiles>/snomed_int_full_rf2/Refset/CrossMap/der2_iissscRefset_ComplexMapFull_INT_20120131.txt</complexMapRefsetFiles>
    <conceptsFile>/snomed_int_full_rf2/Terminology/sct2_Concept_Full_INT_20120131.txt</conceptsFile>
    <descriptionFormatRefsetFiles>/snomed_int_full_rf2/Refset/Metadata/der2_ciRefset_DescriptionTypeFull_INT_20120131.txt</descriptionFormatRefsetFiles>
    <descriptionsFile>/snomed_int_full_rf2/Terminology/sct2_Description_Full-en_INT_20120131.txt</descriptionsFile>
    <identifiersFile>/snomed_int_full_rf2/Terminology/sct2_Identifier_Full_INT_20120131.txt</identifiersFile>
    <languageRefsetFiles>/snomed_int_full_rf2/Refset/Language/der2_cRefset_LanguageFull-en_INT_20120131.txt</languageRefsetFiles>
    <moduleDependenciesRefsetFiles>/snomed_int_full_rf2/Refset/Metadata/der2_ssRefset_ModuleDependencyFull_INT_20120131.txt</moduleDependenciesRefsetFiles>
    <modules>
      <id>900000000000207008</id>
      <versions>
        <id>20120131</id>
        <metadata>
          <entry>
            <key>roleGroupId</key>
            <value>roleGroup</value>
          </entry>
          <entry>
            <key>coreModuleId</key>
            <value>900000000000207008</value>
          </entry>
          <entry>
            <key>conceptModelAttId</key>
            <value>410662002</value>
          </entry>
          <entry>
            <key>metadataModuleId</key>
            <value>900000000000012004</value>
          </entry>
          <entry>
            <key>rightIdentityIds</key>
            <value>363701004,127489000</value>
          </entry>
          <entry>
            <key>conceptDefinedId</key>
            <value>900000000000073002</value>
          </entry>
          <entry>
            <key>fsnId</key>
            <value>900000000000003001</value>
          </entry>
          <entry>
            <key>neverGroupedIds</key>
            <value>123005000,127489000,272741003,411116001</value>
          </entry>
          <entry>
            <key>someId</key>
            <value>900000000000451002</value>
          </entry>
          <entry>
            <key>allId</key>
            <value>900000000000452009</value>
          </entry>
          <entry>
            <key>isAId</key>
            <value>116680003</value>
          </entry>
          <entry>
            <key>synonymId</key>
            <value>900000000000013009</value>
          </entry>
          <entry>
            <key>definitionId</key>
            <value>900000000000550004</value>
          </entry>
        </metadata>
      </versions>
      <versions>
        <id>20110731</id>
        <metadata>
          <entry>
            <key>roleGroupId</key>
            <value>roleGroup</value>
          </entry>
          <entry>
            <key>coreModuleId</key>
            <value>900000000000207008</value>
          </entry>
          <entry>
            <key>conceptModelAttId</key>
            <value>410662002</value>
          </entry>
          <entry>
            <key>metadataModuleId</key>
            <value>900000000000012004</value>
          </entry>
          <entry>
            <key>rightIdentityIds</key>
            <value>363701004,127489000</value>
          </entry>
          <entry>
            <key>conceptDefinedId</key>
            <value>900000000000073002</value>
          </entry>
          <entry>
            <key>fsnId</key>
            <value>900000000000003001</value>
          </entry>
          <entry>
            <key>neverGroupedIds</key>
            <value>123005000,127489000,272741003,411116001</value>
          </entry>
          <entry>
            <key>someId</key>
            <value>900000000000451002</value>
          </entry>
          <entry>
            <key>allId</key>
            <value>900000000000452009</value>
          </entry>
          <entry>
            <key>isAId</key>
            <value>116680003</value>
          </entry>
          <entry>
            <key>synonymId</key>
            <value>900000000000013009</value>
          </entry>
          <entry>
            <key>definitionId</key>
            <value>900000000000550004</value>
          </entry>
        </metadata>
      </versions>
    </modules>
    <refsetDescriptorRefsetFiles>/snomed_int_full_rf2/Refset/Metadata/der2_cciRefset_RefsetDescriptorFull_INT_20120131.txt</refsetDescriptorRefsetFiles>
    <relationshipsFile>/snomed_int_full_rf2/Terminology/sct2_Relationship_Full_INT_20120131.txt</relationshipsFile>
    <releaseType>FULL</releaseType>
    <simpleMapRefsetFiles>/snomed_int_full_rf2/Refset/CrossMap/der2_sRefset_SimpleMapFull_INT_20120131.txt</simpleMapRefsetFiles>
    <simpleRefsetFiles>/snomed_int_full_rf2/Refset/Content/der2_Refset_SimpleFull_INT_20120131.txt</simpleRefsetFiles>
    <statedRelationshipsFile>/snomed_int_full_rf2/Terminology/sct2_StatedRelationship_Full_INT_20120131.txt</statedRelationshipsFile>
    <textDefinitionsFile>/snomed_int_full_rf2/Terminology/sct2_TextDefinition_Full_INT_20120131.txt</textDefinitionsFile>
  </rf2Inputs>
  <rf2Inputs>
    <inputType>CLASSPATH</inputType>
    <associationRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/xder2_cRefset_AssociationReferenceFull_GB1000000_20121001.txt</associationRefsetFiles>
    <attributeValueRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/xder2_cRefset_AssociationReferenceFull_GB1000000_20121001.txt</attributeValueRefsetFiles>
    <complexMapRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/CrossMap/xder2_iissscRefset_ICD10FourthEditionComplexMapFull_GB1000000_20121001.txt</complexMapRefsetFiles>
    <complexMapRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/CrossMap/Crossmap/xder2_iissscRefset_OPCS46ComplexMapFull_GB1000000_20121001.txt</complexMapRefsetFiles>
    <conceptsFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_Concept_Full_GB1000000_20121001.txt</conceptsFile>
    <descriptionsFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_Description_Full-en-GB_GB1000000_20121001.txt</descriptionsFile>
    <identifiersFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_Identifier_Full_GB1000000_20121001.txt</identifiersFile>
    <languageRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Language/xder2_cRefset_LanguageFull-en-GB_GB1000000_20121001.txt</languageRefsetFiles>
    <languageRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Language/xder2_cRefset_UKExtensionLanguageFull-en-GB_GB1000000_20121001.txt</languageRefsetFiles>
    <moduleDependenciesRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Metadata/xder2_ssRefset_ModuleDependencyFull_GB1000000_20121001.txt</moduleDependenciesRefsetFiles>
    <modules>
      <id>999000031000000106</id>
      <versions>
        <id>20120131</id>
        <metadata>
          <entry>
            <key>roleGroupId</key>
            <value>roleGroup</value>
          </entry>
          <entry>
            <key>coreModuleId</key>
            <value>900000000000207008</value>
          </entry>
          <entry>
            <key>conceptModelAttId</key>
            <value>410662002</value>
          </entry>
          <entry>
            <key>metadataModuleId</key>
            <value>900000000000012004</value>
          </entry>
          <entry>
            <key>rightIdentityIds</key>
            <value>363701004,127489000</value>
          </entry>
          <entry>
            <key>conceptDefinedId</key>
            <value>900000000000073002</value>
          </entry>
          <entry>
            <key>fsnId</key>
            <value>900000000000003001</value>
          </entry>
          <entry>
            <key>neverGroupedIds</key>
            <value>123005000,127489000,272741003,411116001</value>
          </entry>
          <entry>
            <key>someId</key>
            <value>900000000000451002</value>
          </entry>
          <entry>
            <key>allId</key>
            <value>900000000000452009</value>
          </entry>
          <entry>
            <key>isAId</key>
            <value>116680003</value>
          </entry>
          <entry>
            <key>synonymId</key>
            <value>900000000000013009</value>
          </entry>
          <entry>
            <key>definitionId</key>
            <value>900000000000550004</value>
          </entry>
        </metadata>
      </versions>
    </modules>
    <modules>
      <id>999000021000000109</id>
      <versions>
        <id>20120131</id>
        <metadata>
          <entry>
            <key>roleGroupId</key>
            <value>roleGroup</value>
          </entry>
          <entry>
            <key>coreModuleId</key>
            <value>900000000000207008</value>
          </entry>
          <entry>
            <key>conceptModelAttId</key>
            <value>410662002</value>
          </entry>
          <entry>
            <key>metadataModuleId</key>
            <value>900000000000012004</value>
          </entry>
          <entry>
            <key>rightIdentityIds</key>
            <value>363701004,127489000</value>
          </entry>
          <entry>
            <key>conceptDefinedId</key>
            <value>900000000000073002</value>
          </entry>
          <entry>
            <key>fsnId</key>
            <value>900000000000003001</value>
          </entry>
          <entry>
            <key>neverGroupedIds</key>
            <value>123005000,127489000,272741003,411116001</value>
          </entry>
          <entry>
            <key>someId</key>
            <value>900000000000451002</value>
          </entry>
          <entry>
            <key>allId</key>
            <value>900000000000452009</value>
          </entry>
          <entry>
            <key>isAId</key>
            <value>116680003</value>
          </entry>
          <entry>
            <key>synonymId</key>
            <value>900000000000013009</value>
          </entry>
          <entry>
            <key>definitionId</key>
            <value>900000000000550004</value>
          </entry>
        </metadata>
      </versions>
    </modules>
    <modules>
      <id>999000021000001108</id>
      <versions>
        <id>20120131</id>
        <metadata>
          <entry>
            <key>roleGroupId</key>
            <value>roleGroup</value>
          </entry>
          <entry>
            <key>coreModuleId</key>
            <value>900000000000207008</value>
          </entry>
          <entry>
            <key>conceptModelAttId</key>
            <value>410662002</value>
          </entry>
          <entry>
            <key>metadataModuleId</key>
            <value>900000000000012004</value>
          </entry>
          <entry>
            <key>rightIdentityIds</key>
            <value>363701004,127489000</value>
          </entry>
          <entry>
            <key>conceptDefinedId</key>
            <value>900000000000073002</value>
          </entry>
          <entry>
            <key>fsnId</key>
            <value>900000000000003001</value>
          </entry>
          <entry>
            <key>neverGroupedIds</key>
            <value>123005000,127489000,272741003,411116001</value>
          </entry>
          <entry>
            <key>someId</key>
            <value>900000000000451002</value>
          </entry>
          <entry>
            <key>allId</key>
            <value>900000000000452009</value>
          </entry>
          <entry>
            <key>isAId</key>
            <value>116680003</value>
          </entry>
          <entry>
            <key>synonymId</key>
            <value>900000000000013009</value>
          </entry>
          <entry>
            <key>definitionId</key>
            <value>900000000000550004</value>
          </entry>
        </metadata>
      </versions>
    </modules>
    <relationshipsFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_Relationship_Full_GB1000000_20121001.txt</relationshipsFile>
    <releaseType>FULL</releaseType>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/CarePlanning/xder2_Refset_CarePlanningSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/CareRecordElement/xder2_Refset_CareRecordElementSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/ClinicalMessaging/xder2_Refset_ClinicalMessagingSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/DiagnosticImagingProcedure/xder2_Refset_DiagnosticImagingProcedureSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/Endoscopy/xder2_Refset_EndoscopySimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/LinkAssertion/xder2_Refset_LinkAssertionSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/NHSRealmDescription/xder2_cRefset_NHSRealmDescriptionLanguageFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/OccupationalTherapy/xder2_Refset_OccupationalTherapySimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/PathologyBoundedCodeList/xder2_cRefset_PathologyBoundedCodeListLanguageFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/PathologyBoundedCodeList/xder2_Refset_PathologyBoundedCodeListSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/PathologyCatalogue/xder2_Refset_PathologyCatalogueSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/PublicHealthLanguage/xder2_Refset_PublicHealthLanguageSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/Renal/xder2_Refset_RenalSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/SSERP/xder2_Refset_SSERPSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/StandardsConsultingGroup/Religions/xder2_cRefset_ReligionsLanguageFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <simpleRefsetFiles>/SnomedCT_GB1000000_20121001/RF2Release/Full/Refset/Content/StandardsConsultingGroup/Religions/xder2_Refset_ReligionsSimpleFull_GB1000000_20121001.txt</simpleRefsetFiles>
    <statedRelationshipsFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_StatedRelationship_Full_GB1000000_20121001.txt</statedRelationshipsFile>
    <textDefinitionsFile>/SnomedCT_GB1000000_20121001/RF2Release/Full/Terminology/xsct2_TextDefinition_Full_GB1000000_20121001.txt</textDefinitionsFile>
  </rf2Inputs>
</inputs>
